.footer {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  background-color: rgba(58, 58, 58, 1);
  height: 300px;
  margin-top: 50px;
  color: white;
}

.tmdbLogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 50px;
}

.tmdbLogo p {
  margin-bottom: 0;
}

.InfoAndContact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
}

.InfoAndContact p {
  margin-bottom: 0;
}

.footerLink {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  color: rgba(199, 157, 35, 1);
}

.logoAndInfo {
  display: flex;
  /* justify-content: center; */
}
