.scrollMovies {
  width: 770px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* white-space: nowrap; */
}

.scrollMovies button {
  z-index: 1;
  cursor: pointer;
  font-weight: 900;
  border: none;
  padding: 5px;
  margin: 5px;
  transition: 0.5s;
  height: 40px;
}

.scrollMovies button:hover {
  background-color: rgb(214, 208, 208);
}

.moviesContainer {
  display: flex;
  /* align-items: center; */
  position: absolute;
  transition: 0.5s all ease-out;
  height: 280px;
}

/* .content {
  width: 200px;
  height: 370px;
  margin-right: 20px;
  background-color: rgb(238, 227, 227);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollMovies::-webkit-scrollbar {
  display: none;
}

.scrollMovies::-webkit-scrollbar-button {
  height: 10px;
  width: 10px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollMovies {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollMovieContainer h2 {
  font-weight: lighter;
}
