.App {
  position: relative;
  padding-top: 150px;
  background-color: rgba(35, 35, 35, 1);
  color: rgba(199, 157, 35, 1);
}
* {
  font-family: sans-serif;
  margin: 0px;
  /* padding: 0px; */
  box-sizing: border-box;
}
