.wrapper {
  display: flex;
  justify-content: center;
  color: white;
}

.tvShowInfoWrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* background-color: grey; */
  width: 1080px;
}

.tvShowInfoContainer {
  width: 800px;
}

.actorCard {
  margin-right: 10px;
  /* width: 200px; */
}

.character {
  color: #b0a6a6; /* Fallback for older browsers */
  color: rgba(221, 211, 211, 0.5);
  margin-top: 5px;
}

img {
  border-radius: 10px;
}

.info {
  width: 800px;
  margin-top: 40px;
}

.genre {
  margin-top: 20px;
}

.actors {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.actors h3 {
  width: 800px;
}
/* .actors ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
}

.actors ul li {
  margin-right: 10px;
} */

.scrollMovies {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* white-space: nowrap; */
}

.scrollMovies button {
  z-index: 1;
  cursor: pointer;
  font-weight: 900;
  border: none;
  padding: 5px;
  margin: 5px;
  transition: 0.5s;
}

.scrollMovies button:hover {
  background-color: rgb(214, 208, 208);
}

.moviesContainer {
  display: flex;
  /* align-items: center; */
  position: absolute;
  transition: 0.5s all ease-out;
  height: 200px;
}

.content {
  width: 200px;
  height: 370px;
  margin-right: 20px;
  background-color: rgb(238, 227, 227);
  border-radius: 10px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollMovies::-webkit-scrollbar {
  display: none;
}

.scrollMovies::-webkit-scrollbar-button {
  height: 10px;
  width: 10px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollMovies {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollMovieContainer h2 {
  font-weight: lighter;
}
