header {
  position: fixed;
  width: 100%;
  background-color: rgb(238, 227, 227);
  z-index: 2;
  top: 0px;
}

.active {
  visibility: visible;
  transition: all 0.3s;
  transition-delay: 0.3s;
}
.hidden {
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 0.3s;
  transform: translateY(-100%);
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0px;
}

.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 50px;
  font-size: xx-large;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
}

.genres {
  font-size: large;
  cursor: pointer;
  padding: 20px 20px;
  color: rgb(53, 49, 49);
}

.fourth {
  margin-left: auto;
}

.headerLink {
  color: rgb(177, 48, 36);
  text-decoration: none;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(53, 49, 49);
  float: none;
  display: block;
  text-align: left;
  font-size: large;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a:hover {
  background-color: lightgray;
}

.dropdown:hover .genres {
  background-color: #f9f9f9;
}
