.header {
  background-color: gray;
  margin-bottom: 100px;
}

.header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0px;
}

.logo {
  margin-right: 100px;
  font-size: xx-large;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
}

.genres {
  margin-right: 50px;
  font-size: large;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  color: rgb(53, 49, 49);
}

.fourth {
  margin-left: auto;
}

.headerLink {
  color: darkred;
  text-decoration: none;
}
