header {
  position: fixed;
  width: 100%;
  background: rgba(58, 58, 58, 1);
  z-index: 2;
  top: 0px;
}

.active {
  visibility: visible;
  transition: all 0.3s;
  transition-delay: 0.3s;
}
.hidden {
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 0.3s;
  transform: translateY(-100%);
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0px;
}

.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 50px;
  font-size: xx-large;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
}

.genres {
  font-size: large;
  cursor: pointer;
  padding: 20px 20px;
  color: white;
}

.fourth {
  margin-left: auto;
}

.headerLink {
  color: rgba(199, 157, 35, 1);
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: rgba(25, 25, 25, 1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  float: none;
  display: block;
  text-align: left;
  font-size: large;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a:hover {
  background-color: rgba(97, 97, 97, 1);
}

.dropdown:hover .genres {
  background-color: rgba(25, 25, 25, 1);
}

.headerInput {
  height: 25px;
  width: 250px;
  border: 2px solid rgb(207, 205, 205);
  border-radius: 20px;
  font-size: 20px;
  font-weight: 100;
  /* background-color: rgb(235, 229, 229); */
  outline: none;
  text-indent: 10px;
  color: darkgray;
}

.headerInput::-webkit-input-placeholder {
  font-weight: lighter;
  color: #d7dcdd;
}
.headerInput::-moz-placeholder {
  font-weight: lighter;
  color: #d7dcdd;
}
.headerInput::-ms-input-placeholder {
  font-weight: lighter;
  color: #d7dcdd;
}
