/* .actorDetails {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  width: 800px;
}

.image {
  margin-top: 20px;
  margin-left: 100px;
}

.info {
  margin-top: 100px;
  margin-bottom: 100px;
}

.actorInfo p {
  margin: 2px;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container {
  width: 1000px;
}

.imageAndInfo {
  display: flex;
}

.actorImage {
  margin: 10px 10px 10px 0px;
}

.actorInfo {
  margin-top: 60px;
}
