.actorDetails {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 500px 1000px;
  grid-template-rows: auto;
}

.image {
  margin-top: 20px;
  margin-left: 100px;
}

.info {
  margin-top: 100px;
  margin-bottom: 100px;
}

.actorInfo p {
  margin: 2px;
}
